@model ChangePasswordModel

@{
    ViewBag.Title = "Şifre Değiştir";
}


<div class="login-box">
    <div class="login-logo">
        <a href="#">ŞİFRE DEĞİŞİKLİĞİ</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Kullanıcı Şifre Değiştirme</p>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group has-feedback">

                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Yeni Şifre" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div class="form-group has-feedback">

                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Yeni Şifre Tekrar" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>
                    @Html.ValidationSummary()
                </label>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-flat">Kaydet</button>
                    <a href='@Url.Action("Index","Home")' class="btn btn-default">İptal</a>
                </div>
            </div>
        }


    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}